@import engine.domain._



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 page-header">
            <h1>Chat</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 page-header">
            <h1>Share</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 page-header">
            <h1>Locate</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 page-header">
            <h1>Schedule</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 page-header">
            <h1>Transact</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 page-header">
            <h1>Play</h1>
        </div>
    </div>
</div>