@import proxy.controllers.NewUser
@import proxy.controllers.{routes => pR}
@(createUser: Form[NewUser], message: String = "")

<!DOCTYPE html>
<html>
<head>
    <title>Proxy</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/ProxyLarge.png")">
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yetti/bootstrap.min.css">
    <meta charset="UTF-8">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.shareyourproxy.com/vinny-friends-gf85iohwi94815inmfp">
                Proxy
            </a>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    </div>
</nav>
  <h3 align="center">
      @message

  </h3>


  @helper.form(action = pR.Authentication.createNew()){
  @helper.inputText(createUser("email"))
  @helper.inputText(createUser("pw"))
  @helper.inputText(createUser("name"))
  <input type="submit" value="Sign Up"     name="createNew" >
  }
</body>
</html>