@import engine.domain._

@(user: User)


<div class="container-fluid">
    <div class="col-md-9 col-md-push-3">
        <h3><span class="label label-default" id="currentGroup">@user.groups.head.label</span></h3>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="img-rounded">
                    <img src="@routes.Assets.at("images/favicon.png")" alt="..." style="height: 180px; width: 100%; display: block;">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="img-rounded">
                    <img src="@routes.Assets.at("images/favicon.png")" alt="..." style="height: 180px; width: 100%; display: block;">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="img-rounded">
                    <img src="@routes.Assets.at("images/favicon.png")" alt="..." style="height: 180px; width: 100%; display: block;">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <a href="#" class="img-rounded">
                    <img src="@routes.Assets.at("images/favicon.png")" alt="..." style="height: 180px; width: 100%; display: block;">
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-md-pull-9 panel panel-default">
       <div class="panel-heading">
           <h3 class="panel-title">Groups</h3>
       </div>
        <div id="groupItemList" class="panel-body">
            @for(g <- user.groups) {
            <div id=@g.id.value class="row">
                <div class="col-lg-12">
                    <span class="groupName pull-left label label-primary">@g.label</span>
                    <button class="editGroupBtn btn btn-secondary btn-sm pull-right" data-toggle="modal" data-target="#eg_@g.id.value">Edit</button>
                    <button class="deleteGroupBtn btn btn-default btn-sm pull-right">Delete</button>
                    @editGroup(g, user)
                </div>
            </div>
            }
        </div>
        <div class="panel-footer">
          <button id="newGroupButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createGroupModal">
              New Group
          </button>
        </div>
    </div>

    <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="createGroupModalLabel">New Group</h4>
                </div>
                <div class="modal-body">
                    <label>Name</label>
                    <input type="text" id="newGroupName">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="createGroupSaveBtn">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateChannelModal" tabindex="-1" role="dialog" aria-labelledby="updateChannelModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="updateChannelModalLabel">Update Channels</h4>
                </div>
                <div class="modal-body" id="updateChannelBody">
                    @for(c <- user.channels) {

                    }
                </div>
            </div>
        </div>
    </div>




</div>
<script src="@routes.Assets.at("javascripts/groupModal.js")"></script>
